<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">what's on your mind?</a>
    <ul>
      <% messages.forEach(message => {
        %>
          <li>User: <%= message.user %></li>
          <li>Says: <%= message.message %></li>
          <li>At: <%= message.date %></li>
          <br>
        <%
      }) %>
    </ul>
  </body>
</html>
